/* COLORS
    white: #e1e1e1
    gray: #858282
    dark gray: #2b2b2b
*/

@font-face {
    font-family: 'Modal-Semibold';
    src: url('/fonts/Modal-Semibold/Modal-Semibold.woff2') format('woff2'),
         url('/fonts/Modal-Semibold/Modal-Semibold.woff') format('woff'),
         url('/fonts/Modal-Semibold/Modal-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo {
    max-height: 50px;
}

.footer {
    height: 50px !important;
    position: fixed;
}

.main-white {
    color: #dfdfdf;
}

.main-black {
    color: #3a3939;
}

.main-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    letter-spacing: 1.5px;
}

.text-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    letter-spacing: 0.5px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-al {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.centered-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topped {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.small-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    letter-spacing: 1.5px;
    font-size: 25px !important;
    padding: 50px 0 15px 0 !important;
}

.mini-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    letter-spacing: 1.5px;
    font-size: 18px !important;
    padding: 0 0 15px 0 !important;
    font-style: italic;
}

