/* COLORS
    white: #e1e1e1
    gray: #858282
    dark gray: #2b2b2b
*/

.app-bar {
    /* padding: 0 25px !important; */
}

.logo {
    max-height: 50px;
}

.main-white {
    color: #e1e1e1;
}

.main-black {
    color: #3a3939;
}

.main-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    letter-spacing: 1.5px;
}

.text-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    letter-spacing: 0.5px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 500px) {
    .header {
        font-size: 30px !important;
    }
}

@media (min-width: 501px) {
    .header {
        font-size: 38px;
    }
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    letter-spacing: 1.5px;
    padding: 60px 0;
}

@media (max-width: 600px) {
    .picture-card {
        display: flex;
        flex-direction: column;
    }

    .picture-card-text {
        white-space: pre-line;
        margin: 5px !important;
    }

    .picture-card-row {
        margin-top: 160px !important;
    }
}

@media (min-width: 601px) {
    .picture-card {
        display: flex;
        flex-direction: row;
        margin-left: 130px;
    }

    .picture-card-text {
        white-space: pre-line;
        margin-left: 40px !important;
    }

    .picture-card-row {
        margin-top: 10px !important;
    }
}

.picture-card {
    max-width: 80%;
    background-color: #2b2b2b;
    padding: 15px;
    border-radius: 3px;
}

.picture-card-row {
    margin: 20px 0;
}

